@import '../../scss/constants.scss';
@import '../../scss/colors.scss';

.footer{
    // Mobile Styling
    @media screen and (max-width: $screen-width) {
        &__container {
            width: calc(100% - 20px);
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $white;
            padding: 12px 0;
            border-top: 1px solid rgba(0,0,0,0.2);
            margin-top: 112px;
        }

        &__subContainer {
            display: inline-flex;
            align-items: center;
            position: relative;
        }

        &__logo {
            img{
                height: 42px;
                border-radius: 4px;
            }
        }

        &__inc {
            margin-left: 12px;
            position: absolute;
            width: 100vw;
            bottom: -24px;
            font-size: 14px;
            text-align: left;
        }

        &__subContainer {
            display: flex;
            align-items: center;
        }

        &__navLinks{
            display: inline-flex;
        }

        &__navItem {
            // margin-left: 48px;
            cursor: pointer;
        }
    }

    // Desktop Styling
    @media screen and (min-width: $screen-width) {
        &__container {
            width: calc(100% - 270px);
            margin-left: 135px;
            margin-right: 135px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $white;
            padding: 12px 0;
            border-top: 1px solid rgba(0,0,0,0.2);
            margin-top: 112px;
        }

        &__subContainer {
            display: inline-flex;
            align-items: center;
        }

        &__logo {
            img{
                height: 48px;
                border-radius: 4px;
            }
        }

        &__inc {
            margin-left: 12px;
        }

        &__subContainer {
            display: flex;
            align-items: center;
        }

        &__navLinks{
            display: inline-flex;
        }

        &__navItem {
            // margin-left: 48px;
            cursor: pointer;
        }

        &__menuItem:hover {
            color: $orange;
        }

        &__rcbButton{
            
        }

    }
}



